name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "30 18 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.compact.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_only: >-
            polyglot, contributor, reviewer, inspirer, gister, stargazer,
            deployer, member, maintainer, developer, influencer, chatter,
            forker, follower, scripter, packager, explorer, verified, manager
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
